#pun-visit{display:none}.hihi{-moz-border-radius:5px;-webkit-border-radius:5px;background:whiteSmoke;border-bottom:0;border-radius:5px;margin:5px 5px 5px 0;padding:.5em 1.3em .5em 1em}hr{border:0;border-bottom:2px dashed #DDD;height:2px}.smallfont{font-size:12px}.small_textbutton{background-color:#4d91cd;border:0 none;border-radius:3px 3px 3px 3px;box-shadow:1px 1px 1px #DDD;clear:left;color:#FFF!important;display:block;float:right;font:11px Arial,sans-serif;position:relative;margin:2px!important;padding:2px 4px}.small_textbutton:hover{background-color:#fff;border:#1391e6 1px solid!important;clear:left;color:#000!important;display:block;float:right;font:11px Arial,sans-serif;position:relative;margin:2px!important;padding:1px 3px;transition:all .25s ease-in-out!important;-webkit-transition:all .25s ease-in-out!important;-moz-transition:all .25s ease-in-out!important;-moz-border-radius:2px!important;-webkit-border-radius:2px!important;-webkit-box-shadow:1 1 1px #1391e6!important;-moz-box-shadow:1 1 1px #1391e6!important;text-color:#000}.small_textbutton:active,.large_textbutton:active{background-color:#000}.Load{display:none;background:white url(http://i36.servimg.com/u/f36/17/76/06/16/loadaj10.gif) 50% 50% no-repeat;position:fixed;left:50%;top:40%;width:50px;height:50px;border:10px solid #82d23d;border:20px solid rgba(130,210,60,.3);border-radius:50px;margin-left:-25px}.ost,.share,.c3zvau .qua,.no{background-position:5px 50%;background-repeat:no-repeat;border:1px solid #c2d5e3;margin:6px 2px 0;padding:5px 8px 5px 25px}.share{background-image:url(http://i36.servimg.com/u/f36/17/76/06/16/fav1010.png)}.qua{background-image:url(http://i36.servimg.com/u/f36/17/76/06/16/no1010.gif);padding-left:29px!important}.no{padding:5px 8px}.no .vop{background:url(http://i36.servimg.com/u/f36/17/76/06/16/like-f10.png) no-repeat left center;padding:0 0 0 18px}.no .vom{background:url(http://i36.servimg.com/u/f36/17/76/06/16/dislik10.png) no-repeat left center;padding:0 0 0 18px}.vote-button{float:left;width:60px}.c3zplus:hover{background-color:#ebedf4;border-color:#9dacce}.c3zminus:hover{background-color:#ebedf4;border-color:#9dacce}.c3zplus{background:url(http://i36.servimg.com/u/f36/17/76/06/16/like-f10.png) no-repeat scroll 0 0 #eceef5;background-position:6px 36%;background-repeat:no-repeat;border:1px solid #cad4e7;border-radius:3px 3px 3px 3px;color:white!important;display:block;float:left;height:13px;margin:-4px 2px 0;padding:4px 4px 5px 24px;position:relative;text-align:left;width:25px}.c3zminus{background:url(http://i43.servimg.com/u/f43/16/03/04/56/dislik10.png) no-repeat scroll #eceef5;background-position:6px 36%;background-repeat:no-repeat;border:1px solid #cad4e7;border-radius:3px 3px 3px 3px;color:white!important;display:block;float:left;height:13px;margin:-4px 0 0;padding:4px 4px 5px 24px;position:relative;text-align:left;width:55px}.spoiler dt{padding-left:1em}.spoiler dt:hover{background-image:url(http://i36.servimg.com/u/f36/17/76/06/16/questi10.png);background-origin:content-box;background-position:right center;background-repeat:no-repeat;border:1px solid;color:red}.spoiler dd{margin:0;padding:0}.spoiler_content.hidden{padding:1em}.codebox{color:#62761a;-webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);box-shadow:0 0 8px 0 rgba(0,0,0,0.2);text-shadow:white 1px 1px 0;border:1px solid #b3bca2;background:url(http://i36.servimg.com/u/f36/17/76/06/16/code1110.png)}.codebox dd{margin:0;border-width:0 1px 1px 1px;border-style:solid;border-color:white;border-top:1px solid white;background:0}.codebox dt{border-width:1px 1px 0 1px;border-style:solid;border-color:white;border-bottom:1px solid #b3bca2;background:url(http://i36.servimg.com/u/f36/17/76/06/16/code2110.png)}.postmain blockquote,blockquote{-webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);box-shadow:0 0 8px 0 rgba(0,0,0,0.2);margin:.5em;color:#495d68;padding:0!important;border:1px solid #ccc!important;background:url(http://i36.servimg.com/u/f36/17/76/06/16/quote110.png)}blockquote div{background:url(http://i36.servimg.com/u/f36/17/76/06/16/quotem10.png) no-repeat 99% 5px;padding:.7em;border:1px solid white}#menudichuyen{position:fixed;left:50%;margin-left:433px;bottom:100px;background:#333 url(http://i36.servimg.com/u/f36/17/76/06/16/action10.png) 0 50% no-repeat;background:rgba(239,228,255,0.5) url(http://i36.servimg.com/u/f36/17/76/06/16/action11.png) 0 50% no-repeat;padding:0 5px 0 15px;border-radius:0 10px 10px 0}#menudichuyen li{list-style:none;height:30px;width:22px}.lentren-top{background:url("http://i36.servimg.com/u/f36/17/76/06/16/newsfl10.png") -63px 50% repeat-x;width:20px;height:20px;cursor:pointer}.xuongduoi-bottom{background:url("http://i36.servimg.com/u/f36/17/76/06/16/newsfl10.png") -42px 50% repeat-x;width:20px;height:20px;cursor:pointer}.lentren-top:hover{background-position:-21px 50%}.xuongduoi-bottom:hover{background-position:0 50%}.sig-content{clear:none;max-height:150px;overflow:hidden}.sig-content:hover{max-height:100%}.sig-content{clear:both;padding:.5em 1em;position:relative}.sig-content .sig-line{border-color:#ddd;border-top-style:solid;border-top-width:1px;display:block;margin:0 auto;padding-bottom:.5em;width:250px}.pun .postt{background-color:#FFF;float:left;width:835px;border:1px solid #DDD;border-radius:5px 5px 5px 5px;margin:10px 0;padding-top:5px}.tieudeF{font-size:16px;text-align:center}.postfoot{border-top:1px solid #DDD;float:left;height:1.5em;width:809px;margin:0}.user .user-ident div{float:left;width:23%}.user,.pun .postbody{float:left!important;width:815px!important;margin:0 10px!important}.pun .postt .user{border-bottom:1px solid #ddd;background-image:url(http://i36.servimg.com/u/f36/17/76/06/16/bg21010.gif);overflow:visible;position:relative;width:100%;padding:70px 0 10px}.pun .user .user-ident{font-size:12px;position:relative;width:780px;padding:0 10px}.user-avatar,.user-basic-info p,.user-pet{text-align:center}.user-basic-info p{padding:5px 0}.blast1{background:url(http://i36.servimg.com/u/f36/17/76/06/16/stt10110.gif) no-repeat scroll right top transparent;height:56px;left:50px;position:absolute;top:5px;width:30px}.blast{background:url(http://i36.servimg.com/u/f36/17/76/06/16/stt21010.png) no-repeat scroll left top transparent;color:#000;font-family:verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;font-size:13px;font-style:italic;font-variant:normal;font-weight:400;height:56px;left:80px;line-height:56px;position:absolute;text-align:center;top:5px;width:679px}.pun .post-entry{border:1px solid #DDD}.smallrum{background:#fbfbfb;-moz-box-shadow:0 0 0 transparent;color:transparent;width:100%}.smallrum a img{margin-top:-5px;padding-right:3px}.smallrum a.gensmall{display:inline-block;height:16px;overflow:hidden;text-align:left;width:43%}#smiley-box iframe{height:150px}#smilies_categ{padding:10px 0}#smiley-box{border:2px dotted #0c5a89;width:98.2%!important;padding:5px}div.posting-block{border:2px dotted #207b0d;float:left;margin-right:-3px;margin-top:7px;width:98.2%;padding:0 0 0 10px}div.posting-block #text_editor_textarea,div.posting-block #text_editor_iframe{height:255px;margin-left:-2.9px}#text_editor_textarea{background:#fff url(http://i36.servimg.com/u/f36/17/76/06/16/bgd_no10.gif) center center no-repeat}#textarea_content dd{margin-left:0!important;border-radius:3px 3px 3px 3px;color:#FFF!important}#textarea_content dl dt label{display:none}#quick_reply .frm-buttons{-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;background-color:#EEE;border:solid 1px #CCC;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top:0;margin:0 auto;padding:5px;text-align:right}#quick_reply #text_editor_controls{margin-left:15px;margin-top:162px;position:absolute;width:52%!important}#quick_reply fieldset.frm-set dl dd{border:solid 1px #CCC;margin:0 auto;background:white}#quick_reply #text_editor_textarea{max-height:120px;max-width:785px;margin-left:-1px;margin-top:-6px}#text_editor_controls{margin:10px 20px}#text_editor_controls button.button2,input.button2{-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;background-image:none;height:25px!important;margin-left:-5px;padding:4px 5px 4px 4px!important}.pun p.left-box{float:left;margin-top:-15px}#text_editor_controls button.button2,input.button2{-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;background-image:none;height:25px!important;margin-left:-5px;padding:4px 5px 4px 4px!important}.fancybox-tmp iframe,.fancybox-tmp object{vertical-align:top;margin:0;padding:0}.fancybox-wrap{position:absolute;top:0;left:0;z-index:1002}.fancybox-outer{background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:0;padding:0}.fancybox-opened{z-index:1003}.fancybox-opened .fancybox-outer{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}.fancybox-inner{width:100%;height:100%;position:relative;outline:0;overflow:hidden;margin:0;padding:0}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:10px}.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%;border:0;vertical-align:top;margin:0;padding:0}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-21px;margin-left:-21px;width:42px;height:42px;background:url(http://i36.servimg.com/u/f36/17/76/06/16/fancyb10.gif);opacity:.8;cursor:pointer;z-index:1010}.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url(http://i36.servimg.com/u/f36/17/76/06/16/fancyb10.png)}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:1004}.fancybox-prev,.fancybox-next{position:absolute;top:0;width:40%;height:100%;cursor:pointer;background:transparent url(http://i36.servimg.com/u/f36/17/76/06/16/blank110.gif);z-index:1003}.fancybox-next{right:0}.fancybox-prev span,.fancybox-next span{position:absolute;top:50%;left:-9999px;width:36px;height:36px;margin-top:-18px;cursor:pointer;z-index:1003}.fancybox-prev span{background-position:0 -36px}.fancybox-next span{background-position:0 -72px}.fancybox-prev:hover span{left:20px}.fancybox-next:hover span{left:auto;right:20px}.fancybox-tmp{position:absolute;top:-9999px;left:-9999px;overflow:visible;visibility:hidden;padding:0}#fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:999;background:#000}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:999;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap;padding:2px 20px}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{margin-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;background:rgba(0,0,0,.8);padding:10px}#fancybox-buttons{position:fixed;left:0;width:100%;z-index:1005}#fancybox-buttons.top{top:10px}#fancybox-buttons.bottom{bottom:10px}#fancybox-buttons ul{display:block;width:170px;height:30px;list-style:none;-webkit-box-shadow:0 1px 3px #000,0 0 0 1px rgba(0,0,0,.7),inset 0 0 0 1px rgba(255,255,255,.05);-moz-box-shadow:0 1px 3px #000,0 0 0 1px rgba(0,0,0,.7),inset 0 0 0 1px rgba(255,255,255,.05);background:#111 0 0 50% 50% 100%;border-radius:3px;margin:0 auto;padding:0}#fancybox-buttons ul li{float:left;margin:0;padding:0}#fancybox-buttons a{display:block;width:30px;height:30px;text-indent:-9999px;background-image:url(http://i36.servimg.com/u/f36/17/76/06/16/fancyb11.png);background-repeat:no-repeat;outline:0}#fancybox-buttons a.btnPrev{width:32px;background-position:6px 0}#fancybox-buttons a.btnNext{background-position:-33px 0;border-right:1px solid #3e3e3e}#fancybox-buttons a.btnPlay{background-position:0 -30px}#fancybox-buttons a.btnPlayOn{background-position:-30px -30px}#fancybox-buttons a.btnToggle{background-position:3px -60px;border-left:1px solid #111;border-right:1px solid #3e3e3e;width:35px}#fancybox-buttons a.btnToggleOn{background-position:-27px -60px}#fancybox-buttons a.btnClose{border-left:1px solid #111;width:38px;background-position:-57px 0}#fancybox-buttons a.btnDisabled{opacity:.5;cursor:default}.fancybox-prev:hover,.fancybox-next:hover,.fancybox-opened .fancybox-title{visibility:visible}.iconPlayer{background:url(http://i36.servimg.com/u/f36/17/76/06/16/play-o10.png) no-repeat scroll center center transparent;left:140px;opacity:.8;position:absolute;margin-top:85px;z-index:99;padding:40px!important}.fancyimg-fmvi{cursor:-moz-zoom-in;cursor:-webkit-zoom-in}#tooltip .tiplFMvi{border-bottom:2px dotted #ddd;padding-bottom:5px;margin-bottom:5px}#tooltip{max-width:550px;position:absolute;border:0;border-radius:3px;color:#000;z-index:99;padding:0;border:1px solid #ddd;font:12px tahoma,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;background:#fff url(http://i36.servimg.com/u/f36/17/76/06/16/white_10.png)}.entry-content img{max-width:350px}.starsTitle{background:url(http://i36.servimg.com/u/f36/17/76/06/16/thead110.gif);border:0 solid #ddd;color:#f8ff04;font-family:Comic Sans MS;font-variant:small-caps;font-weight:700;height:14px;text-shadow:1px 1px 1px #000;padding:4px}.top-vi,.viewrep{min-height:160px}#most_active,#active_starters,#users_week,#users_month{display:none}.leftr,.leftrecent,.rightrecent,.viewfmvi,.repfmvi,.lastcate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;position:absolute}.leftrecent{width:42%}.leftr{width:80%;margin-left:-3px}.rightnumber{padding:10px}.imgstatus{background-color:#FFF;left:-32px;position:absolute;padding:2px 7px}.rightrecent{right:240px;text-align:left;width:105px}.showpost{font-size:9px;left:-12px;line-height:18px;position:absolute}.viewfmvi{right:195px;text-align:right;width:50px;font-style:italic}.repfmvi{right:155px;text-align:right;width:50px;font-style:italic}.lastcate{right:0;text-align:right;width:145px;margin-right:-4px}.latest_topics{list-style:decimal-leading-zero outside none;text-align:left;margin:0!important;padding:0 5px 0 27px}.latest_topics li{line-height:16.1px;position:relative}.toppost_width{float:left;width:200px}.recentWidth{float:left;width:652px}.recentWidth .main-head{position:relative;height:1.3em;overflow:hidden}.recentWidth h3{marign-left:10px}.loaddinng{background-image:url(http://i36.servimg.com/u/f36/17/76/06/16/black-10.gif);background-position:center center;background-repeat:no-repeat;height:350px;width:440px}#checktip{position:absolute;right:10px;top:3px;z-index:300}#numRecent{display:none;position:absolute;right:12px;top:7px}.numtopF{margin-right:-10px!important}.fancybox-title{display:none}.pun .main-contentr{border:0;padding:5px!important;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;background-color:#fff}fieldset.frm-set dl dd{margin-left:8em}div.post{width:798px}.paging b{background:#373d48 url(http://i36.servimg.com/u/f36/17/76/06/16/mainti10.png) repeat-x top;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3);border:1pxsolid #232830;border-radius:2px;font-weight:bold;font-size:12px;padding:8px;margin:-3px 0;box-shadow:0 1px 0 rgba(0,0,0,0.05)}a:hover{text-decoration:none!important;color:yellow;text-shadow:0 0 .2em yellow,0 0 .2em yellow,0 0 .2em yellow}a,a:link,a:hover{text-decoration:none!important}.italic{font-style:italic}.baivietdai{overflow:hidden}.thugon span:hover{text-shadow:1px 1px 1px #000;cursor:pointer}.thugon{background-color:#f6ff9d;border-top:1px solid #DDD;clear:both;margin:0 -13px;padding:2px 10px}.viewfull{background:url(//ssl.gstatic.com/ui/v1/zippy/arrow_down.png) no-repeat scroll 3px 7px transparent;padding:0 15px}.viewhide{display:none;background:url(//ssl.gstatic.com/ui/v1/icons/mail/arrow_up.png) no-repeat scroll 3px 7px transparent;padding:0 15px}.fullOff{background:url(http://i36.servimg.com/u/f36/17/76/06/16/power_10.png) no-repeat scroll 0 2px transparent;margin-top:-2px;padding:2px 5px 2px 20px}.fullOn{display:none;background:url(http://i36.servimg.com/u/f36/17/76/06/16/power_11.png) no-repeat scroll 0 2px transparent;margin-top:-2px;padding:2px 5px 2px 20px}











/* Trượt tiêu đề mỗi box */
a.forumtitle {
-moz-transition-duration: 1.5s;
-webkit-transition-duration: 1.5s;
-o-transition-duration: 1.5s;
}

a.logo {
-moz-transition-duration: 1.5s;
-webkit-transition-duration: 1.5s;
-o-transition-duration: 1.5s;
}


a.forumtitle:hover {
margin-left: 50px;
}



/* Fancy kính lúp rê chuột vào ảnh */
.fancyimg-fmvi{cursor:-moz-zoom-in;cursor:-webkit-zoom-in}




/* login icons-------------------------------------------------------------*/
#password, #username{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
padding:1px 1px 1px 16px;
width:100px;
}
#password {
background:#FFFFFF url(http://i47.servimg.com/u/f47/17/07/15/37/pass9610.png) no-repeat scroll left center; }
#username {
background:#FFFFFF url(http://i47.servimg.com/u/f47/17/07/15/37/id966810.png) no-repeat scroll left center; }
input.mainoption, input[type=submit], input[type=text], input[type=password], select, textarea{
  
  }




/* avatar trong memberlist */
.avatarthum img{height:70px!important;padding-right:10px}




/* Khung smiles nam giua */
#smiley-box{width:100%!important}
div.posting-block{width:100%!important}
 #smilies_categ p {
    text-align: center;
}





/* memberlist 2 in 1 - www.fmvi.org */
.Sname a{background-color:#FFF;border:1px solid #DDD;margin:2px;padding:1px 5px}
.Sname a:hover,.Sname a:active{background-color:#2F98D9;color:#FFF}
.Sname{text-align:right}
.rutgonML img{background-color:#000;border:3px double;border-radius:7px 7px 7px 7px;height:75px;width:72%;margin:10px}
.rutgonML{float:left;width:10%}
.rutgonML p{background-color:#C2BFBF;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:0 2px;padding:2px 5px}
.rutgonML:hover{box-shadow:0 0 10px 5px #000}

* Search box */
#sapxepFMvi input[type=submit]{background-color:#0161A4!important;border-bottom:2px solid #000!important;border-radius:3px 3px 3px 3px;border-right:2px solid #000!important;border-bottom-style:solid!important;color:#FFF!important;cursor:pointer;float:right;font-family:Verdana;font-size:1.2em!important;font-weight:bolder;margin-top:-10px;text-shadow:1px 2px 1px #000;border-color:#DAD396 #896C0F #896C0F #DAD396;border-width:1px 2px 2px 1px !important;padding:5px!important}
#sapxepFMvi span{color:#026DA6;font-family:Tahoma;font-size:1.2em;font-weight:700;padding:0 10px 0 30px}
#sapxepFMvi .button:hover{background-color:#000!important;color:#1BD5FF!important;text-shadow:-1px 1px 5px #FFF}
#sapxepFMvi .button:active{text-shadow: -1px -2px -1px #000;background-color:#045C06!important}
#sapxepFMvi{background-color:#DEDEDE;margin-bottom:20px;padding:15px 20px 10px 5px}




 a[href="/u1"] {
text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
color: rgb(255,255 ,255 )";
}
a[href="/u1"]{background-image: url('http://dl.glitter-graphics.net/pub/1024/1024281ymbml25yd5.gif');  background-position:15px;
}  




a[href="/u00"] {
background-image: url('http://i44.servimg.com/u/f44/15/64/85/86/pxg8710.gif');  background-position:15px;
}   
a[href="/u00"]:before {content: url(http://i625.photobucket.com/albums/tt332/lightningninja1511/Animation%20icon/catl.gif);}
a[href="/u00"]:after {content: url(http://i625.photobucket.com/albums/tt332/lightningninja1511/Animation%20icon/catr.gif);}
span[style="color: rgb(0, 255, 60);"]:before{content: url(http://i68.servimg.com/u/f68/15/98/54/42/member10.gif);padding-right:2px;}
span[style="color:#00FF3C"]:before{content: url(http://i68.servimg.com/u/f68/15/98/54/42/member10.gif);padding-right:2px;}
span[style="color: rgb(0, 255, 242);"]:before{content: url(http://i68.servimg.com/u/f68/15/98/54/42/th_smo10.gif);padding-right:2px;}
span[style="color:#00FFF2"]:before{content: url(http://i68.servimg.com/u/f68/15/98/54/42/th_smo10.gif);padding-right:2px;}
span[style="color: rgb(255, 0, 166);"]:before{content: url(http://i68.servimg.com/u/f68/15/98/54/42/09347912.gif);padding-right:2px;}
span[style="color:#FF00A6"]:before{content: url(http://i68.servimg.com/u/f68/15/98/54/42/09347912.gif);padding-right:2px;}
span[style="color: rgb(255, 132, 0);"]:before{content: url(http://i68.servimg.com/u/f68/15/98/54/42/th_vip10.gif);padding-right:2px;}
span[style="color:#FF8400"]:before{content: url(http://i68.servimg.com/u/f68/15/98/54/42/th_vip10.gif);padding-right:2px;}
span[style="color: rgb(255, 0, 0);"]:before{content: url(http://i46.servimg.com/u/f46/17/56/78/10/admin111.gif);padding-right:2px;}
span[style="color:#FF0000"]:before{content: url(http://i46.servimg.com/u/f46/17/56/78/10/admin111.gif);padding-right:2px;}




span[style="color: rgb(26, 3, 3);"],span[style="color:#1A0303"]{text-decoration:line-through;}
span[style="color: rgb(26, 3, 3);"]:before{content: url(http://i46.servimg.com/u/f46/17/56/78/10/skull110.gif);padding-right:2px;},span[style="color:#1A0303"]{text-decoration:line-through;}





/*--- classic level ------------------*/
.levelbg{line-height: 13px;background: url(http://i47.servimg.com/u/f47/17/07/15/37/levelc10.png) no-repeat;width: 120px; height: 13px;padding-top: 2px;padding-left: 2px;}




    /* Khuyên ca´o */
    #text_editor_textarea {
        background: url("http://i47.servimg.com/u/f47/17/07/15/37/bgd_no10.gif") no-repeat scroll center center transparent;
    }

     select, textarea {
        border-width: 1px;
    }

    a:hover
    {text-decoration:none;
    color:#D570EE;
    text-decoration:none;
    font-weight:bold;
    background-image:url(http://i47.servimg.com/u/f47/17/07/15/37/0051010.gif);}



    #main .module-advert {
    opacity: 0.1;
    }
     /*-----------------------phong to hinh trong bai----------------------------------*/
  
    .hovergallery img:hover{
    -webkit-transform:scale(1.9); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.3); /*Mozilla scale version*/
    -o-transform:scale(1.3); /*Opera scale version*/
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
    opacity: 1;
    }
     


 .score{padding-top:20px}.pnsmall{font-size:10px;font-style:italic;margin-top:-5px}.tipsy{font-size:10px;padding:5px;position:absolute;z-index:999}
     .tipsy-inner{
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      background-color:#000;
      border-radius:3px;color:#FFF;
      max-width:200px;padding:5px 8px 4px;text-align:center}
     .tipsy-arrow{border:5px dashed #000;height:0;line-height:0;position:absolute;width:0}
     .tipsy-arrow-n{border-bottom-color:#000}
     .tipsy-arrow-s{border-top-color:#000}
     .tipsy-arrow-e{border-left-color:#000}
     .tipsy-arrow-w{border-right-color:#000}
     .tipsy-n .tipsy-arrow{border-bottom-style:solid;
     border-left-color:transparent;
     border-right-color:transparent;
     border-top:none;left:50%;
     margin-left:-5px;top:0}
     .tipsy-nw .tipsy-arrow{border-bottom-style:solid;
     border-left-color:transparent;
     border-right-color:transparent;
     border-top:none;left:10px;top:0}
     .tipsy-ne .tipsy-arrow{border-bottom-style:solid;
     border-left-color:transparent;
     border-right-color:transparent;
     border-top:none;right:10px;top:0}
     .tipsy-s .tipsy-arrow{border-bottom:none;
     border-left-color:transparent;
     border-right-color:transparent;
     border-top-style:solid;
     bottom:0;left:50%;margin-left:-5px}
     .tipsy-sw .tipsy-arrow{border-bottom:none;border-left-color:transparent;
     border-right-color:transparent;
     border-top-style:solid;bottom:0;left:10px}
     .tipsy-se .tipsy-arrow{border-bottom:none;border-left-color:transparent;
     border-right-color:transparent;
     border-top-style:solid;bottom:0;right:10px}
     .tipsy-e .tipsy-arrow{border-bottom-color:transparent;
     border-left-style:solid;border-right:none;
     border-top-color:transparent;margin-top:-5px;right:0;top:50%}
     .tipsy-w .tipsy-arrow{border-bottom-color:transparent;
     border-left:none;border-right-style:solid;
     border-top-color:transparent;left:0;margin-top:-5px;top:50%}












        .bgytblist{
            background-color: #000000;
            border: 1px solid black;
            border-radius: 5px 5px 5px 5px;
            box-shadow: 2px 2px 3px #999999;
            left: 5px;
            margin: 10px 0 15px 5px;
            min-height: 40px;
            overflow: visible;
            padding: 10px;
            position: relative;
            top: 6px;
            width: 640px;
        }
        .imgytblist img:hover{
          cursor:pointer;
          opacity: 0.7;
        }






        /* wall gray - www.fmvi.vn */
        #profile-advanced-details ol li{margin-bottom:10px}
        #main-content{margin-top:50px}
        #profile-advanced-add a{border:1px solid #DDD;line-height:30px;text-shadow:1px 1px 1px #000;padding:3px 22px 3px 3px}
        #profile-advanced-add a[href^='/profile?friend']{background:url(http://i48.servimg.com/u/f48/16/58/89/73/icon710.png) no-repeat scroll right center #FCFEE8}
        #profile-advanced-add a[href^='/profile?foe']{background:url(http://i48.servimg.com/u/f48/16/58/89/73/icon810.png) no-repeat scroll right center #FFEDED}
        #profile-advanced-add a[href^='/profile?mode=editprofile&page_profil=friendsfoes']{background:url(http://i48.servimg.com/u/f48/16/58/89/73/icon410.png) no-repeat scroll right center #E3FBFF}
        #profile-advanced-details .stats-field{margin:4px 4px 15px}
        #profile-advanced-details .stats-field{border:1px solid #DDD}
        #profile-advanced-details .stats-field legend{background-color:#F4F4F4;border:1px solid #DDD;color:#097BC2;font-size:16px;font-variant:small-caps;font-weight:700;padding:3px 10px 5px}
        #profile-advanced-right .main-content.center{color:#FFF}
        #profile-advanced-right .main-content.center img{width:150px}
        #profile-advanced-layout #new-message{margin-top:0}
        #profile-advanced-details .new-message.bottom{display:none}
        #profile-advanced-details{margin-right:0!important}
        #profile-advanced-details .pagination{background:url(http://i48.servimg.com/u/f48/16/58/89/73/36054_10.png) no-repeat scroll 2px center #E8F9FF;border:1px solid #E4E4E4;float:right!important;margin:5px 0 10px!important;padding:5px 10px 5px 20px}
        #tabs ul li a{background-color:#000;border:0 none;color:#DDD;font-weight:700}
        #tabs ul li.activetab a,#tabs ul li a:hover{background-color:#DDD;border-radius:5px 5px 0 0;color:#000;font-weight:700;margin-top:-5px;padding-top:5px}
        #tabs ul li{padding:0}
        #profile-advanced-right{width:230px}
        #profile-advanced-left{margin-right:232px}
        #profile-advanced-layout{float:left;margin-right:-232px;width:100%}
        #profile-advanced-details .message-block{margin-left:63px;border:1px solid #DDD;padding:5px}
        #profile-advanced-details .message-footer{margin-right:-3px;padding-bottom:3px;padding-top:10px;text-align:right}
        #profile-advanced-details .message-header{border:1px solid #DDD}
        #profile-advanced-details .message-footer li:after{content:""!important}
        #profile-advanced-details .message-footer li{background:url(http://i48.servimg.com/u/f48/16/58/89/73/view_d10.png) no-repeat scroll 2px center #FCFEE8;border:1px solid #DDD;text-shadow:1px 1px 1px #000;padding:2px 3px 2px 20px}
        #profile-advanced-details .message-footer li.last{background:url(http://i48.servimg.com/u/f48/16/58/89/73/remove10.png) no-repeat scroll 2px center #FFEDED;border:1px solid #DDD;padding:2px 3px 2px 20px}




        .prettyprint .pln{color:#000}.prettyprint .str{color:#080}.prettyprint .kwd{color:#008}.prettyprint .com{color:#800}.prettyprint .typ{color:#606}.prettyprint .lit{color:#066}.prettyprint .fmvip{color:#660}.prettyprint .tag{color:#008}.prettyprint .atn{color:#606}.prettyprint .atv{color:#080}.prettyprint .dec{color:#606}.prettyprint .linenums li{border-left:3px solid #EBEFF9;padding-left:5px}.prettyprint{font-family:Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;font-size:13px;padding:2px}.prettyprint ol.linenums{margin-bottom:0;margin-top:0}ol.linenums:hover{list-style-type:none}




        





a:hover   { color: #D31141; }

a:hover { text-decoration: none; color: #6699cc; background: url(http://i36.servimg.com/u/f36/17/76/06/16/th_pha10.gif); background-position: bottom bottom; position: relative; top: 1px; cursor: url(http://users.domaindlx.com/blueheaven1/tim.ani
);color: #FFFFFF; text-decoration:underline;}label { cursor:pointer; }


a:hover {cursor: url("http://i36.servimg.com/u/f36/17/76/06/16/th_aer10.gif"), progress;}



.postlink {
background:url(http://i36.servimg.com/u/f36/17/76/06/16/muiten10.gif) no-repeat right;
padding-right:16px;
}

.postlink:hover {
background:url(http://i36.servimg.com/u/f36/17/76/06/16/3muite10.gif) no-repeat right;
padding-right:16px;
}





.module-advert{display:none;}


.numtopF{margin-right:-9px!important}#dulieupostter,#dulieutip,#sapxepdulieu,#textarea_content dt,a.mainmenu[href='/groups'],a.mainmenu[href='/privmsg?folder=inbox']{display:none}


/* Bôi đen */
::selection {color: white;color: rgba(255, 255, 255, 0.85);background: #EA4C89;}


